* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .header {
  position: fixed;
  background-color: chocolate;
  width: 100%;
  height: 60px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.wrapper .header .header__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .header .header__wrap .nav {
  display: flex;
  float: right;
}

.wrapper .header .header__wrap h1 {
  display: flex;
  justify-content: center;
}

.wrapper .main {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

@media (min-width: 600) {
  .wrapper .main {
    display: flex wrap;
    float: right;
  }
}

.wrapper .main .main__wrap {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 70px 0px;
}

.wrapper .main .main__wrap .content__top
.content__bottom {
  display: inline-block;
  width: 100%;
  height: 50%;
  padding: 15px;
}

.wrapper .main .main__wrap .content__top
.content__bottom .content__box {
  display: grid;
  width: calc(100% / 4);
  float: left;
}

.wrapper .main .main__wrap .content__top
.content__bottom .content__box .first {
  width: 100%;
  padding: 100%;
}

.wrapper .main .main__wrap .content__top
.content__bottom .content__box .first h3 {
  color: red;
  font-size: 35px;
  font-style: italic;
}

.wrapper .main .main__wrap .content__top
.content__bottom .content__box .first p {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper .main .main__wrap .content__top
.content__bottom .content__box .second {
  width: 100%;
  padding: 100%;
}

.wrapper .main .main__wrap .content__top
.content__bottom .content__box .second h3 {
  color: red;
  font-size: 35px;
  font-style: italic;
}

.wrapper .main .main__wrap .content__top
.content__bottom .content__box .second p {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 1200px;
  height: 100%;
  padding: 0px 5px;
}
