* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: bisque;
}

.wrapper .header {
  position: fixed;
  background-color: chocolate;
  width: 100%;
  height: 60px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.wrapper .header .header__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .header .header__wrap .nav {
  display: flex;
  float: right;
}

.wrapper .header .header__wrap h1 {
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  margin-left: calc( 50% - 600px);
}

@media (min-width: 600px) {
  .container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
  }
}
